/*
    --BODY---
 */
body{
    width: 100%;
    height: 100%;
    background-color: #ff9292;
    background-image: url("../images/Shapes/SemiCirculoAmarillo.png"),url("../images/Shapes/SemicirculoAzul.png"),
    url("../images/Shapes/PaneldePuntos.png"),url("../images/Shapes/RayoAmarillo.png"),
    url("../images/Shapes/RayoNegro.png"),url("../images/Shapes/CirculoRosa.png"),url("../images/Shapes/CirculoRosa.png"),
    url("../images/Shapes/CirculoBlanco.png"),url("../images/Shapes/CirculoBlanco.png"),url("../images/Shapes/CirculoBlanco.png"),
    url("../images/Shapes/CirculoBlanco.png"),url("../images/Shapes/CirculoBlanco.png"),url("../images/Shapes/CirculoBlanco.png"),
    url("../images/Shapes/CirculoBlanco.png"),url("../images/Shapes/CirculoBlanco.png"), url("../images/Shapes/CirculoBlanco.png"),
    url("../images/Shapes/CirculoBlanco.png"),url("../images/Shapes/CirculoBlanco.png"),url("../images/Shapes/FlechaAmarilla.png"),
    url("../images/Shapes/SemiCirculoAmarillo2.png"),
    url("../images/Shapes/CajaCombo.png"),url("../images/Shapes/CajaCombo.png"),url("../images/Shapes/CajaCombo.png"),
    url("../images/Shapes/FlechaIzda.png"),url("../images/Shapes/FlechaDerecha.png"),
    url("../images/Shapes/SemiCirculoAzulGrande.png"),url("../images/Shapes/SemiCirculoBlanco.png"),url("../images/Shapes/Ellipse .png"),
    url("../images/Shapes/Ellipse .png"),url("../images/Shapes/Ellipse .png"),url("../images/imagenes/ImagenBurgerConjunta.png"),
    url("../images/Shapes/CruzRosa.png"),url("../images/Shapes/RayoAzul.png"),
    url("../images/Shapes/People.png"),url("../images/Shapes/Name.png"),url("../images/Shapes/Date.png"),
    url("../images/Shapes/Email.png"),url("../images/Shapes/Time.png"),url("../images/Shapes/Phone.png"),
    url("../images/Shapes/FlechasAmarillas.png"),url("../images/Shapes/SemiCirculoAzulPequeño.png"),
    url("../images/imagenes/ImagenPatatas.png"),url("../images/Shapes/PaneldePuntos.png"),
    url("../images/Shapes/SemiCirculoAmarilloPequeño.png"),url("../images/Shapes/FlechaMulticolor.png"),
    url("../images/Logos/LogoFondoAmarillo.png"),url("../images/Shapes/CirculosP.png"),url("../images/Shapes/CirculoAzul.png"),
    url("../images/Shapes/SemiCirculoAzulArriba.png"),url("../images/Shapes/RayosNegroAmarillo.png"),
    url("../images/Shapes/FlechasAmarillasAbajo.png"),url("../images/Shapes/FlechasRojas.png"),

    url("../images/backgrounds/BackgroundFooter.png"),
    url("../images/backgrounds/BackgroundAmarillo.png"),
    url("../images/backgrounds/BackgroundRosa.png"),
    url("../images/backgrounds/BackgroundAmarillo.png"),
    url("../images/backgrounds/BackgroundRosa.png"),
    url("../images/backgrounds/BackgroundAmarillo.png"),
    url("../images/backgrounds/BackgroundAmarillo.png"),
    url("../images/backgrounds/BackgroundRosa.png"),
    url("../images/backgrounds/BackgroundBlanco.png"),
    url("../images/backgrounds/BackgroundRosa.png");
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,
    no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat, no-repeat, no-repeat,no-repeat,
    no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,
    no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,
    no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,
    no-repeat,no-repeat,no-repeat,
    repeat-x,repeat-x,repeat-x,repeat-x,repeat-x,repeat-x,repeat-x, repeat-x,repeat-x,no-repeat;

    background-position:
            top 845px left -10px,
            top 885px right 0px,
            top 680px left 30px,
            top 580px right 0px,
            top 640px right 0px,
            top 1910px right 54%,
            top 1910px right 8%,
            top 1940px right 54%,
            top 1975px right 54%,
            top 2010px right 54%,
            top 2045px right 54%,
            top 2075px right 54%,
            top 1910px right 8%,
            top 1940px right 8%,
            top 1975px right 8%,
            top 2010px right 8%,
            top 2045px right 8%,
            top 2075px right 8%,
            top 2270px left 100px,
            top 2260px right 0px,
            top 2875px left 15%,
            top 2875px left 50%,
            top 2875px left 86%,
            top 3095px left 7%,
            top 3095px right 7%,
            top 3180px right 0,
            top 3480px left 0,
            top 3800px left 9.2%,
            top 3800px left 50.5%,
            top 3800px left 93%,
            top 4200px left 30%,
            top 4300px left 90%,
            top 5020px left 0%,
            top 5270px left 24%,
            top 5440px left 24%,
            top 5270px left 55%,
            top 5440px left 55%,
            top 5270px left 86%,
            top 5440px left 86%,
            top 5600px left 0%,
            top 5700px right 0%,
            top 5800px left -180px,
            top 6318px left 3px,
            top 6550px left 365px,
            top 6430px right 50px,
            top 6900px left 80%,
            top 6989px left 280px,
            top 7540px left 0px,
            top 7627px left 55%,
            top 7900px right 0px,
            top 8290px left 1%,
            top 8460px right 3%,

            top 9380px right 0px,
            top 8600px right 0px,
            top 6550px right 0px,
            top 5800px right 0px,
            top 5080px right 0px,
            top 3870px right 0px,
            top 3570px right 0px,
            top 2430px right 0px,
            top 980px right 0px,
            top 44px left 40px;
    z-index: 0;
}

/* ---HEADER---*/

#imgLogo{
    height: 50px;
}
#imgCarrito{
    height: 40px;
    padding-top: 4px;
}
#menuNav{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

#menuNav a{
    color: #fff9f4;
    padding-top: 20px;
    transition: ease-in 0.5s;
}


#menuNav img{
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: rotar;
}

@keyframes rotar {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}

#menuNav a:hover{
    transform: translateY(20px) scale(1.5);
}

.linkMenu{
    font-size: 19px;
    text-decoration: underline;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    text-align: center;
    transition: ease-in 0.5s;
}
.linkMenu:hover{
    transform: scale(1.5);
}
.link{
    font-size: 19px;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    text-align: center;
    text-decoration:none;
}
/* ---ASIDE---*/


/* ---COOKIES---*/
.avisoCookies{
    background-color: #fff;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 300px;
    line-height: 150%;
    font-size: 25px;
    border-radius: 10px;
    position: fixed;
    z-index: 6;
    bottom: 20px;
    left: 20px;
    padding-top: 70px;
    box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25);
    text-align: center;
}
.avisoCookies img{
    max-width: 170px;
    position: absolute;
    top: -85px;
    left: calc(50% - 85px);
}
.avisoCookies h3{
    margin-bottom: 15px;
}
.avisoCookies p{
    margin-bottom: 15px;
}
.avisoCookies button{
    width: 100%;
    background-color: #403f3f;
    color: white;
    border:none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 15px 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease all;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}
.avisoCookies button:hover{
    background-color: black;
}
/* ---PRINCIPAL---*/
#divTexto{
    padding-top: 90px;
    font-size: 100px;
    letter-spacing: 3px;
    color: #fff9f4;
    font-weight: 900;
    font-family: Montserrat, sans-serif;
    text-align: center;
    animation: entrada 1s ease-in;
}
@keyframes entrada {
    from{
        margin-top: 100%;
    }
    to{ left: 50%;}

}
#love{
    color: yellow;

}

#subtitle{
    font-size: 46px;
    letter-spacing: 3px;
    color: #fff9f4;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    text-align: center;
}
#divArrow{
    padding-top: 70px;
    text-align: center;
}
#imagenBurger{
    text-align: center;
    filter: drop-shadow(9.259px 14.257px 21.5px rgba(0,0,0,0.3));
    transition: linear 1s;
}
#imagenBurger:hover{
    transform: scale(1.2);
}

/* ---MENÚ---*/
#tituloMenu{
    font-size: 150px;
    letter-spacing: 11px;
    line-height: 53px;
    color: #ffdd67;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 20px;
}
#divLorem{
    font-size: 25px;
    color: #ff9292;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contenedorPrecios{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 65px;
}
.lineaCentrada{
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #403f3f;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    text-align: center;

}
.precioPlato{
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 33px;
    color: #ff9292;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    text-align: center;

}
#bebidas{
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 14px;
    color: #403f3f;
    font-family: Montserrat, sans-serif;
    text-align: center;
}
#bebidas .drinks{
    font-weight: 700;
}
.divMenu{
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 33px;
    color: #403f3f;
    font-family: Montserrat, sans-serif;
}

.tituloPrecios {
    color: black;

}

.botonCartRosa{
    margin-top: 40px;
    width: 270px;
    height: 75px;
    border-radius: 37px;
    background-color: #ff9292;
    color:white;
}
.botonCartRosa:hover{
    transform: scale(1.5);
    cursor: pointer;
}
/* ---COMBOS---*/
.contenedorPagCombos{
    padding-bottom: 250px;
}
.contenedorPagCombos h2{
    font-size: 100px;
    letter-spacing: 8px;
    line-height: 53px;
    color: #ffdd67;
    font-weight: 900;
    font-family:Montserrat, sans-serif;
    text-align: center;
    padding-top: 200px;
}
.contenedorPagCombos .pCombos{
    margin: 0 auto;
    padding-bottom: 20px;
    width: 550px;
    height: 70px;
    font-size: 25px;
    color: #fff9f4;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    text-align: center;
}
.contenedorCombos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.combos{
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 44px;
    color: #403f3f;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    text-align: center;
}
.combos .botonComboBlanco{
    width: 183px;
    height: 60px;
    border-radius: 30px;
    background-color: #fff9f4;
    border: 3px solid #ff9292;
}

.combos .botonComboBlanco:hover{
    background-color: #ff9292;
    cursor: pointer;
    color: white;
}
.combos .botonComboRosa{
    width: 183px;
    height: 60px;
    border-radius: 30px;
    border:none;
    background-color: #ff9292;
    color: white;
}
.combos .botonComboRosa:hover{
    background-color: #fff9f4;
    cursor: pointer;
    color: black;
    border: 1px solid #ff9292;
}
.combos h5{
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px black;
}
/* ---ORDER---*/
.contenedorOrder .tituloOrder{
    font-size: 50px;
    color: #ff9292;
    font-weight: 700;
    font-family:Montserrat, sans-serif;
    text-align: center;
}
.tituloSectionOrder{
    font-size: 50px;
    color: #ff9292;
    font-weight: 700;
    font-family:Montserrat, sans-serif;
    text-align: center;
}
.contenedorOrders{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}
.divOrder{
    width: 400px;
    height: 400px;

}
.textoOrder{
    font-size: 19px;
    color: #403f3f;
    width: 210px;
    font-weight: 700;
    font-family: Montserrat,sans-serif;
    text-align: center;
    margin-left: 80px;

}
/* ---DELIVERY---*/
.contenedorDelivery{
    width: 500px;
    height: 600px;
    margin-right: 235px;

}
.padreDelivery{
    display: flex;
    justify-content: right;

}
.contenedorDelivery h3{
    font-size: 100px;
    letter-spacing: 3px;
    color: white;
    font-weight: 900;
    font-family: Montserrat,sans-serif;
}
.contenedorDelivery p{
    width: 593px;
    height: 163px;
    font-size: 25px;
    font-weight: 400;
    font-family: "Montserrat";
}
.contenedorDelivery button{
    width: 593px;
    height: 113px;
    font-size: 25px;
    color: #fff9f4;
    font-weight: 400;
    font-family: "Montserrat";
}
/* ---RESERVATION---*/
.contenedorReservation{
    margin-top: 290px;
    height: 730px;
}
.contenedorReservation h3{
    padding-top: 40px;
    font-size: 83px;
    letter-spacing: 2px;
    line-height: 53px;
    color: #ffdd67;
    font-weight: 900;
    font-family: "Montserrat";
    text-align: center;
}

.contenedorReservation p{
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Montserrat";
}
.fila1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.fila2{
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.botonSubmitBlanco{
    margin-top: 115px;
    width: 264px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #fff9f4;
    position: relative;
    left:45%;

}
.submit{
    font-size: 25px;
    color: #ff9292;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}
/* ---ABOUT US---*/
.divInvisible{
    width: 40%;
    height: 600px;
}

.contenedorAboutUs{
    display: flex;
    justify-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;


}
.contenedorAboutUs h3{
    font-size: 69px;
    letter-spacing: 5px;
    line-height: 45px;
    color: #ff9292;
    font-weight: 900;
    font-family: "Montserrat";
}
.contenedorAboutUs p{
    width: 438px;
    font-size: 25px;
    color: #403f3f;
    font-weight: 400;
    font-family: "Montserrat";
}
/* ---CREATORS---*/
.contenedorCreators h3{
    padding-right: 950px;
    padding-top: 350px;
    text-align: center;
    font-size: 69px;
    letter-spacing: 5px;
    line-height: 45px;
    color: #ffdd67;
    font-weight: 900;
    font-family: "Montserrat";
}
.divP{
    font-size: 58px;
    letter-spacing: 4px;
    color: #fff9f4;
    font-weight: 400;
    font-family: "Montserrat";
    width: 100px;
    height: 100px;
    border-radius: 250px;
    border: none;
    text-align: center;
    margin-top: 50px;
    margin-left: 250px;
}
.contenedorInfoCreators{
    height: 700px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-right: 740px;
    font-size: 25px;
    color: #fff9f4;
    font-weight: 700;
    font-family: "Montserrat";
}

.divPadreCreators{
    display: flex;
    justify-content: space-evenly;
}
.contenedorPs{
    display: flex;
    flex-direction: column;
}

.contenedorBurgerBlog h3{
    font-size: 67px;
    color: #ff9292;
    font-weight: 900;
    font-family: "Montserrat";
    text-align: center;
}
.pBurgerRecipes{
    font-size: 37px;
    color: #ff9292;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
/* ---BLOGS---*/
.contenedorBlogs{
    display: flex;
    justify-content: center;
}
.divBlogs .tituloBlog{
    color: black;
    line-height: 33px;
    font-weight: bold;
    font-family: "Montserrat";
    text-align: center;
}
.divBlogs img{
    margin-left: 65px;
    animation: rotar 3s linear infinite;
}
@keyframes rotar {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{transform: rotate(360deg)}
}
.divBlogs p{
    margin-right: 90px;
    line-height: 33px;
    color: #555555;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}
.pReadMore{
    font-size: 14px;
    line-height: 33px;
    color: #ff9292;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    padding-left: 200px;
}
/* ---FOOTER---*/
.divFooterAboutUs{
    width: 500px;
}
.contenedor1Fila{

    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.contenedor2Fila{

    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.contenedor3Fila{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.contenedorFooter{
    font-size: 20px;
    line-height: 27px;
    color: #403f3f;
    font-weight: 700;
    font-family: "Montserrat";
}
footer h6{

    font-size: 18px;
    line-height: 25px;
    color: black;
    font-weight: bold;
    font-family: "Montserrat";
}
.divFormFooter button{
    margin-left: 50px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background-color: #ff9292;
    font-size: 13px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.divFormFooter button:hover{
    cursor: pointer;
    transform: scale(1.5);
}
.divFormFooter input{
    width: 350px;
    border-radius: 150px;
    line-height: 30px;
}
.divFormFooter input:focus{

    -webkit-box-shadow: 3px 4px 5px 5px rgba(9, 7, 7, 0.75);
    -moz-box-shadow:    5px 1px 5px 5px rgba(1, 1, 5, 0.75);
    box-shadow:         1px 1px 5px 5px rgba(4, 4, 12, 0.75);
}
.contenedorCopyright{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60px;

}
/* ---MEDIA QUERY PARA DISEÑO ALTERNATIVO---*/
@media (max-width: 1300px)and (min-width: 751px){
    body{
        background-image:
                url("../images/imagenes/ImagenPatatas.png"),


                url("../images/backgrounds/BackgroundFooter.png"),
                url("../images/backgrounds/BackgroundAmarillo.png"),
                url("../images/backgrounds/BackgroundRosa.png"),
                url("../images/backgrounds/BackgroundAmarillo.png"),
                url("../images/backgrounds/BackgroundRosa.png"),
                url("../images/backgrounds/BackgroundAmarillo.png"),
                url("../images/backgrounds/BackgroundAmarillo.png"),
                url("../images/backgrounds/BackgroundRosa.png"),
                url("../images/backgrounds/BackgroundBlanco.png"),
                url("../images/backgrounds/BackgroundRosa.png");

        background-repeat: no-repeat,repeat-x,repeat-x,repeat-x,repeat-x,repeat-x,repeat-x,repeat-x,repeat-x,repeat-x,repeat-x;

        background-position:
                top 6200px right 550px,

                top 9670px right 0px,
                top 8900px right 0px,
                top 6750px right 0px,
                top 6000px right 0px,
                top 5080px right 0px,
                top 3870px right 0px,
                top 3570px right 0px,
                top 2730px right 0px,
                top 980px right 0px,
                top 44px left 40px;



    }
    #menuNav a:hover{
        transform: translateY(20px) scale(1.5);
    }
    .combos{
        border-radius: 30px;
        border: 2px solid white;
        background-color: #fff;
    }

    .divOrder{

        margin-right: 20px;
        border-radius: 100px;
        border: 2px solid white;
        background-color: #fff;
    }
    .contenedorReservation h3{
        line-height: 145px   ;
    }
    .fila1 p{
        padding-left: 15px;
        width: 250px;
        border-radius: 20px;
        background-color: #fff;
        color:#ff9292;
    }
    .fila2 p{
        padding-left: 15px;
        width: 250px;
        border-radius: 20px;
        background-color: #fff;
        color:#ff9292;
    }
    .botonSubmitBlanco{
        margin-top: 115px;
        width: 264px;
        height: 60px;
        border-radius: 30px;
        border: none;
        background-color: #fff9f4;
        position: relative;
        left: 40%;
    }
    .contenedorAboutUs{
        margin-top: 150px;
    }

    .contenedorCreators h3{
        padding-top: 250px;
        padding-right: 50px;
    }
    .contenedorInfoCreators{
        margin-right: 50px;

    }
    .divP:first-child{
        border-radius: 250px;
        border:2px solid aqua;
    }
    .divP{
        border-radius: 250px;
        border:2px solid yellow;
    }

    .divBlogs p{
        padding-left: 150px;
    }

}
/* ---MEDIA QUERY PARA MOVIL---*/
@media (max-width: 750px){

    body{
        background-color: white;
        background-image: none;

    }


    header{
        margin-top: -25px;
        padding-top: 20px;
        background-color: #ff9292;
    }
    aside{
        background-color: #ff9292;
    }
    .contenedorMenu{
        background-color: white;
    }
    .contenedorOrder{
        background-color: #ffdd67;
    }
    #divTexto #discover{
        display: none;
    }
    .contenedorMenu{
        padding-top: 20px;
    }
    .contenedorAboutUs{
        background-color: #ffdd67;
    }
    .contenedorBurgerBlog{
        background-color: white;
    }
    .contenedorFooter{
        background-color: #ffdd67;
    }
    .contenedorMenu #divLorem{
        display: none;
    }

    .contenedorPagCombos .contenedorCombos{
        border-radius: 100px;
        border: 2px solid white;
        background-color: white;
    }
    .contenedorPagCombos .botonComboRosa{
        border: 2px solid #ff9292;
    }
    .contenedorPagCombos .botonComboRosa:hover{
        background-color: #ff9292;
        color: white;
    }

    .contenedorOrder .divOrder:first-child{
        display: none;
    }
    .contenedorOrder .divOrder{
        border-radius: 250px;
        border: 2px solid white;
        background-color: white;
        margin-right: 20px;
    }
    .contenedorOrder .padreDelivery{
        display: block;
        padding-left: 70px;
    }
    .botonCartRosa:hover{
        transform: none;
        background-color: white;
        color: black;
    }
    .contenedorReservation{
        margin-top: 0px;
    }
    .botonSubmitBlanco{
        display: none;
    }
    .contenedorReservation h3{
        margin-top: 0px;
        padding-left: 40px;
        line-height: 150px;

    }

    .contenedorPrecios .divMenu{
        margin-left: 20px;
    }
    .contenedorPagCombos h2{
        padding-top: 20px;
    }
    .contenedorPagCombos .pCombos{
        display: none;
    }
    .contenedorDelivery p{
        margin-bottom: -65px;
    }
    .fila1 p{
        padding-left: 15px;
        width: 250px;
        border-radius: 20px;
        background-color: #fff;
        color:#ff9292;
    }
    .fila2 p{
        padding-left: 15px;
        width: 250px;
        border-radius: 20px;
        background-color: #fff;
        color:#ff9292;
    }
    .divInvisible{
        display: none;
    }
    .contenedorCreators h3{
        padding-top: 0px;
        padding-right: 0px;
    }
    .contenedorInfoCreators{
        margin-right: 50px;
        padding-left: 20px;
    }
    .divP{
        display: none;
    }
    .divFormFooter button:hover{
        background-color: white;
        color: #ff9292;

        transform: none;
    }
    .contenedorCopyright{
        padding-top: 20px;
        background-color: #ff9292;
    }
    .contenedorBlogs .divBlogs:first-child{
        display: none;
    }
    .contenedorBlogs .divBlogs:last-child{
        display: none;
    }
    .combos #cheesecake{
        height: 40px;
    }
    .combos .botonComboRosa{
        margin-bottom: 20px;
        background-color: #fff;
        color: black;
    }
}